/**************************编辑按钮************************/
.edit-bt { position: absolute; right: 0; top: 0; width: 60px; height: 60px; background-color: rgb(248,248,248); overflow: hidden; cursor: pointer; z-index: 90; }
.edit-bt:hover{ background-color:rgb(238,238,238); }
.edit-border{
    width: 90px; height: 90px; position: absolute;     right: 8px;     top: 8px;     background-color: #fff;
    -webkit-transform: rotate(45deg);     transform: rotate(45deg);     -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);     -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    *display: none;
}
.edit-bt:hover .edit-border{
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    right: 14px;
    top: 14px;
}
.edit-bt a{
    display: block;
    text-indent: -99em;
    width: 60px;
    height: 60px;
    background: url("/static/images/edit-pen.png") no-repeat 36px 6px;
}
/**************************显示上传的图片************************/
.photo,#upload_gate,#upload_situation,#upload_location,.upload_container{
    position: relative;
    display: block; float: left; margin-bottom: 5px;
    background-color: white;
    width:180px;
    height:180px;
    margin-right: 10px;
}
.photo div{
    width: 162px;
    height: 162px;
    border: 1px solid #e2e2e4;
    border-radius: 5px;
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    box-sizing: border-box;
}
.photo img {
    max-width: 160px;
    max-height: 160px;
    display: block;
    margin: auto;
}

.photo .closeicon {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    background: url("/static/images/del_ico.png") 0 0 no-repeat;
}

.closeicon2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    background: url("/static/images/del_ico.png") 0 0 no-repeat;
}

.photo .closeicon:hover ,.closeicon2:hover{
    background: url("/static/images/del_ico_active.png") 0 0 no-repeat;
}

#upload_gate,#upload_situation,#upload_location,.upload_container {
    cursor: pointer;
}
.upload-img {
    width: 160px;
    height: 160px;
    display: block;
    background-image: url("/static/images/add_img.png");
    background-color: #FFF;
    background-repeat: no-repeat;
}
#upload_gate:hover .upload-img,#upload_situation:hover .upload-img,#upload_location:hover .upload-img,.upload_container:hover .upload-img{
    background-image: url("/static/images/add_img_active.png");
}
input[name='photo']{ display: none; }

button.upload_doc,button.upload_addDoc{
    background-color: #fff;
    color: #767676;
}
button.upload_doc:hover,button.upload_addDoc:hover{
    background-color: #fff;
    color: #3296ff;
}
/*******************************审核流展示***********************************/